<div class="login-container">
    <div class="logo-container">
      <img src="assets/my-image.png" alt="Logo" class="logo" />
    </div>
  
    <h2 class="login-text">LOGIN WITH YOUR BITSATHY.AC.IN MAIL ID</h2>
  
    <!-- Google Sign-In -->
    <div class="google-signin-container">
      <div id="g_id_onload"
           data-client_id="485788029550-pjqt7r9pkk385j8fbrmht9lgi62b0ifn.apps.googleusercontent.com"
           data-context="signin"
           data-ux_mode="popup"
           data-login_uri="http://localhost:3000/api/login"
           data-auto_select="true"
           data-itp_support="true">
      </div>
  
      <div class="g_id_signin"
           data-type="standard"
           data-shape="rectangular"
           data-theme="outline"
           data-text="signin_with"
           data-size="large"
           data-logo_alignment="left">
      </div>
    </div>
  </div>
  