<div class="dashboard-links">
    <button routerLink="/admin">Go to Admin Section</button>
    <button routerLink="/user">Go to User Section</button>
</div>
<div class="user-dashboard">
    <h2>User Dashboard</h2>
    <div class="profile-picture">
        <img src="https://imgs.search.brave.com/9whgZy6FvowddR1urcESjJ6K7jaR_ZPpZCXmUT7Tovk/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzAxLzE5LzMyLzkz/LzM2MF9GXzExOTMy/OTM4N19zVVRiVWRl/eWhrMG51aE53NVdh/RnZPeVFGbXhlcHBq/WC5qcGc" alt="Profile Picture">
    </div>
    
    <!-- User Information Section -->
    <div class="user-info">
        <p><strong>Name:</strong> {{ userInfo.name }}</p>
        <p><strong>Roll Number:</strong> {{ userInfo.rollNumber }}</p>
        <p><strong>Department:</strong> {{ userInfo.department }}</p>
        <p><strong>Current Year:</strong> {{ userInfo.currentYear }}</p>
        <p><strong>Phone Number:</strong> {{ userInfo.phoneNumber }}</p>
    </div>
  


<!-- Feedback Section -->
<div class="feedback-section">
    <h2>Feedback</h2>
    <form (ngSubmit)="submitFeedback()" #feedbackForm="ngForm">
        <div class="form-group">
            <label for="feedbackMessage">Your Feedback:</label>
            <textarea id="feedbackMessage" name="feedbackMessage" rows="4" cols="50" ngModel required></textarea>
        </div>
        <button type="submit" [disabled]="!feedbackForm.form.valid">Submit Feedback</button>
    </form>
</div>
</div>

<footer>
<p>&copy; 2025 BIT. All rights reserved.</p>
</footer>