body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: white;
}
.section {
    margin-bottom: 30px;
    background-color: lightgray;
}
.question {
    margin-bottom: 10px;
    background-color: white;
}
.options {
    list-style-type: none;
    padding: 0;
}
.options li {
    margin-bottom: 5px;
}
.match-pair {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.match-pair select {
    width: 40%;
}
textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
}
button {
    padding: 10px 15px;
    margin-top: 10px;
    display: block;
}